@model Product
<h1>Edit Product</h1>

<form asp-action="UpdateProduct">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Id</label>
        <input asp-for="Id" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Price</label>
        <input asp-for="Price" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Quantity</label>
        <input asp-for="Quantity" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Category</label>
        <input asp-for="Category" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Image URL</label>
        <input asp-for="ImageUrl" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

    <button type="submit" class="btn btn-success">Save Product</button>
</form>