<h1 class="text-center my-4">Наші продукти</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/2303/2711/files/2_e822dae0-14df-4cb8-b145-ea4dc0966b34.jpg?v=1617059123" class="card-img-top" alt="Продукт 1">
            <div class="card-body text-center">
                <h5 class="card-title">Продукт 1</h5>
                <p class="card-text">Опис продукту 1.</p>
                <div class="fw-bold text-success mb-2">250 грн</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/2303/2711/files/2_e822dae0-14df-4cb8-b145-ea4dc0966b34.jpg?v=1617059123" class="card-img-top" alt="Продукт 2">
            <div class="card-body text-center">
                <h5 class="card-title">Продукт 2</h5>
                <p class="card-text">Опис продукту 2.</p>
                <div class="fw-bold text-success mb-2">180 грн</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/2303/2711/files/2_e822dae0-14df-4cb8-b145-ea4dc0966b34.jpg?v=16170591230" class="card-img-top" alt="Продукт 3">
            <div class="card-body text-center">
                <h5 class="card-title">Продукт 3</h5>
                <p class="card-text">Опис продукту 3.</p>
                <div class="fw-bold text-success mb-2">320 грн</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>
</div>
